<h2> Client details </h2>


<div id="clientdetails">

<label>First Name: </label>
<input type="text" id="firstName" name="firstName" value="{{model.client.firstName}}" onblur={{action "onInputBlur"}}/> <br/>

<label>Last Name: </label>
<input type="text" id="lastName" name="lastName" value="{{model.client.lastName}}" onblur={{action "onInputBlur"}}/> <br/>

    <table>
        <tr>
            <td>
                <label>Selected books: </label><br/>
                <select id="selectedBooks" name="selectedBooks" multiple="multiple">

                  {{#each model.client.books as |book|}}
                      <option value="{{book.id}}">{{book.title}} - {{book.author}} - {{book.isbn}} - {{book.genre}} - {{book.publisher}} - {{book.price}}</option>
                  {{/each}}
                </select>
              <br/>
                <button {{action "onRemoveBookButtonClick"}}> Remove Book</button>
            </td>
            <td>
                <label>Available books: </label><br/>
                <select id="availableBooks" name="availableBooks">
                  {{#each model.books as |book|}}
                    {{#if book.available}}
                      <option value="{{book.id}}">{{book.title}} - {{book.author}} - {{book.isbn}} - {{book.genre}} - {{book.publisher}} - {{book.price}}</option>
                    {{/if}}
                  {{/each}}
                </select>
                <br/>
                <button {{action "onAddBookButtonClick"}}> Add Book</button>
            </td>
        </tr>
    </table>


    <br/>


<button {{action "onUpdateButtonClick" model.client}}> Update </button>

</div>





{{outlet}}
