<h2> Add Book </h2>

<div id="addBook">

    <label>Title: </label>
  {{input type="text" value=title}}
    <br/>

    <label>Author: </label>
  {{input type="text" value=author}}
    <br/>

    <label>ISBN: </label>
  {{input type="text" value=isbn}}
    <br/>

    <label>Genre: </label>
  {{input type="text" value=genre}}
    <br/>

    <label>Publisher: </label>
  {{input type="text" value=publisher}}
    <br/>

    <label>Price: </label>
  {{input type="text" value=price}}
    <br/>

    <button
      {{action "onAddButtonClick"}}> Finish
    </button>

</div>

{{outlet}}
