<h2> Add Book </h2>

<div id="addBook">

    <label>Title: </label>
  {{input type="text" value=title}}
    <br/>

    <label>ISBN: </label>
  {{input type="text" value=isbn}}
    <br/>

    <label>Year: </label>
  {{input type="text" value=year}}
    <br/>

    <button
      {{action "onAddButtonClick"}}> Finish
    </button>

</div>

{{outlet}}
